:root {
  --color1: #53BDFF;
  --color2: #FF5455;
  --color3: #7194AA;
  --color4: #6CA7CC;
  --color5: #807F6A;


}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color3);
  background-size: cover;
}

.navbar {
  background-color: var(--color4);
  padding: .5em;

}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
}

.navbar li {
  list-style-type: none;
  
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.home {
  background-color: var(--color1);
}

.login {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  margin-top: 10%;
  padding: 1em;
  border-radius: 1em;

}

.login section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  background-color: #fff;
  padding: 1em;
  text-align: start;
  text-indent: 1em;
  border-radius: 1em;
}

.login h1 {
  text-align: center;
}

.login input {
  margin: 1em;
  width: 80%;
  border-radius: .5em;
}

.login button {
  background-color: var(--color3);
  color: #fff;
  margin: 0 auto;
  width: 50%;
  margin-top: 1em;
  border-radius: .5em;

}

.login button:hover {
  cursor: pointer;
  background-color: var(--color4);

}

.login p {
  margin-top: 2em;
}

.login a {
  color: var(--color1);
  text-decoration: none;
}

.login a:hover {
  color: var(--color4);

}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5em;
  text-align: center;
  background-color: var(--color4);
  
}